.app {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 40px 0;
  height: 100%;
  width: 100%;
  background: url('~assets/png/background.png');

  &__wrapper {
    height: 100%;
    width: 100%;
  }
}
