.card {
  height: 510px;
  width: 320px;
  color: $fnt-color-card-main;

  &.active {
    .card__weight {
      background-color: $brd-color-select;
    }

    .card__main,
    .card__text {
      border-color: $brd-color-select;
    }

    .card__corner {
      background: linear-gradient(
        -45deg,
        $bg-color-main,
        $bg-color-main 32px,
        $brd-color-select 0,
        $brd-color-select 36px,
        transparent 0
      );
    }
  }

  &.disabled {
    color: $fnt-color-disabled;

    .card__header,
    .card__quantity,
    .card__present {
      color: $fnt-color-disabled;
    }

    .card__footer {
      color: $fnt-color-footer-disabled;
    }

    .card__weight {
      background-color: $bg-color-weight-disabled;
    }

    .card__corner {
      background: linear-gradient(
        -45deg,
        $bg-color-main,
        $bg-color-main 32px,
        $brd-color-disabled 0,
        $brd-color-disabled 36px,
        transparent 0
      );
    }

    .card__body {
      background-color: $bg-color-wrapper-disabled;
    }

    .card__text,
    .card__main {
      border-color: $brd-color-disabled;
    }
  }

  &__wrapper {
    height: 100%;
  }

  &__header {
    display: flex;
    height: 44px;
    font-size: 16px;
    color: $fnt-color-description;

    &.hover {
      color: $fnt-color-header-select;
    }
  }

  &__corner {
    margin-bottom: -5px;
    width: 44px;
    background: linear-gradient(
      -45deg,
      $bg-color-main,
      $bg-color-main 32px,
      $brd-color-main 0,
      $brd-color-main 36px,
      transparent 0
    );
  }

  &__text {
    display: block;
    flex: 1;
    padding-top: 20px;
    padding-left: 8px;
    border: 4px solid $brd-color-main;
    border-bottom: none;
    border-left: none;
    border-radius: 0 10px 0 0;
    background-color: $bg-color-main;
  }

  &__main {
    position: relative;
    height: calc(100% - 44px);
    background-image: url('~assets/png/cat.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: $bg-color-main;
    border: 4px solid $brd-color-main;
    border-top: none;
    border-radius: 0 0 10px 10px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 50px;
  }

  &__title {
    font-size: 48px;
    font-weight: 700;
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 700;
  }

  &__quantity {
    margin-top: 14px;
    color: $fnt-color-description;
  }

  &__present {
    color: $fnt-color-description;
    width: 130px;
  }

  &__weight {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 16px;
    bottom: 46px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $bg-color-weight;
    color: $bg-color-main;
  }

  &__volume {
    font-size: 42px;
  }

  &__measure {
    font-size: 21px;
  }

  &__footer {
    position: absolute;
    left: 0;
    bottom: -25px;
    width: 101%;
    font-size: 13px;
    text-align: center;
    color: $bg-color-main;

    a {
      color: $fnt-color-footer-link;
      text-decoration-style: dashed;
      text-decoration-line: revert;
    }
  }
}
