.card {
  position: relative;
  border: 4px solid #1698d9;
  border-radius: 10px;
  background-color: #fff;
  background-image: url('~assets/png/cat.png');
  background-repeat: no-repeat;
  background-position: bottom;
  height: 510px;
  width: 320px;

  &.active {
    border-color: #d91667;

    .card__weight {
      background-color: #d91667;
    }
  }

  &.disabled {
    color: #b3b3b3;
    border-color: #b3b3b3;

    .card__header,
    .card__quantity,
    .card__present {
      color: #b3b3b3;
    }

    .card__weight {
      background-color: #b3b3b3;
    }

    .card__wrapper {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0 50px;
  }

  &__header {
    margin-top: 20px;
    font-size: 16px;
    color: #666666;

    &.hover {
      color: #d91667;
    }
  }

  &__title {
    font-size: 48px;
    font-weight: 700;
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 700;
  }

  &__quantity {
    margin-top: 14px;
    color: #666666;
  }

  &__present {
    color: #666666;
  }

  &__weight {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 16px;
    bottom: 46px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #1698d9;
    color: #fff;
  }

  &__volume {
    font-size: 42px;
  }

  &__measure {
    font-size: 21px;
  }

  &__footer {
    position: absolute;
    left: 0;
    bottom: -25px;
    width: 101%;
    font-size: 13px;
    text-align: center;
    color: #fff;

    a {
      color: #1698d9;
      text-decoration-style: dashed;
      text-decoration-line: revert;
    }
  }
}
