//background-color
$bg-color-main: #ffffff;
$bg-color-weight: #1698d9;
$bg-color-select: #d91667;
$bg-color-weight-disabled: #b3b3b3;
$bg-color-wrapper-disabled: #f2f2f280;

// border-color
$brd-color-main: #1698d9;
$brd-color-select: #d91667;
$brd-color-disabled: #b3b3b3;

//color
$fnt-color-main: #ffffff;
$fnt-color-card-main: #000000;
$fnt-color-description: #666666;
$fnt-color-footer-link: #1698d9;
$fnt-color-disabled: #b3b3b3;
$fnt-color-footer-disabled: #ffff66;
$fnt-color-header-select: #d91667;
